<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 标签页（Tab）插件</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
	<script th:src="@{/static/jquery-2.0.0/jquery.min.js}"></script>
	<script th:src="@{/static/bootstrap-4.0.0-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.js}"></script>
</head>
<body>

	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a href="#home">首页</a></li>
		<li><a href="#profile">介绍</a></li>
		<li><a href="#messages">消息</a></li>
		<li><a href="#settings">设置</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="home">.首页内容..</div>
		<div class="tab-pane" id="profile">介绍内容...</div>
		<div class="tab-pane" id="messages">消息内容..</div>
		<div class="tab-pane" id="settings">设置内容..</div>
	</div>

	<script>
		$(function () {
	    	$('#myTab a:last').tab('show');
	  	})
	  	$('#myTab a').click(function (e) {
	  		e.preventDefault();
	  		$(this).tab('show');
		})
	</script>
</body>
</html>